@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --primary-color: #6a1b9a;
	--primary-color-light: #b0ff57;
	--primary-color-dark: #32cb00;
    --secondary-color: #7682c6;
	--secondary-color-light: #a7b1f9;
	--secondary-color-dark: #465695;
	--background-color: hsl(240, 7%, 12%);
	--background-color-dark: hsl(0, 3%, 6%);
    --shadow: hsl(0, 3%, 6%);
	--text-color: #ffffff;
    --accent-color: #c0392b;
	--border-radius: 20px;
    --border: 1px solid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.laptop-container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-frame {
    position: absolute;
    pointer-events: none;
    z-index: 101;
}

.inline {
    display: flex;
    align-items: center;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-color-dark);
    color: var(--text-color);
    border-bottom: #ffffff solid 1px;
}

.icon-topbar {
    margin-right: 5px;
}

.screen-container {
    background-color: var(--background-color);
    width: 716px;
    height: 456px;
    margin-left: -5px;
    margin-top: -4px;
}

.app-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
    width: 99%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.darkweb-container {
    color: var(--text-color);
    height: fit-content;
}

.card {
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius);
    width: 300px;
    min-height: 50px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.card-header {
    margin-bottom: 10px;
    font-weight: bold;
}
.card-body {
    margin-top: 5px;
    margin-top: 5px;
}
.card-footer {
    margin-top: 5px;
    font-size: smaller;
}

.confirmation-box {
    position: sticky;
    top: 20px;
    float: right;
    margin-right: 20px;
}

.confirmation-card {
    color: var(--text-color);
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius);
    width: 200px;
    padding: 15px;
}

.confirmation-card-body {
    display: flex;
    justify-content:flex-end;
}

.confirm-button {
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

